@media (max-width: 768px) {
  .text-nav {
    display: none;
  }
  #nav-bar {
    height: auto;
    display: block;
  }
  #nav-bar a:link,
  a:visited {
    display: block;
    padding: 10px;
    border-left: none;
    text-align: left;
  }
  #personal-info {
    padding-right: 25px;
  }

  .cer-content-2 {
    border-left: 0px;
    border-top: 2px solid rgb(217, 223, 221);
    padding-top: 20px;
  }
}
